#about {
    padding-top: 150px;
    padding-bottom: 90px;
    z-index: 3;

    .about__decoration-text {
        @extend %decor-text;
        top: 70px;
        left: 40%;
    }

    .about-video {
        position: relative;
        padding-top: 56.25%;

        iframe {
            @extend %pos;
            width: 100%;
            height: 100%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 10%;
        right: 0;
        bottom: 210px;
        background: #f3f3f3;
        z-index: -3;
    }
}

.about-item {
    position: relative;
    margin-top: 70px;

    .decoration-line {
        position: absolute;
        top: -25px;
        left: -800px;
        right: 0;
        height: 1px;
        background: #7c7c7c;
    }
}