#app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 78px 0 0;
    border-bottom: 1px solid rgba(#fff, .5);
    z-index: 999;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding: 30px 0;
    }
}

.header-content {
    overflow: hidden;
}

.logo {
    position: relative;
    z-index: 100;

    &__link {
        font-weight: 500;
    }
}

.header-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 25px 15px 30px;
    font-weight: 500;
    z-index: 10;
    min-height: 66px;

    &--time {
        padding-right: 0;
        font-size: .9rem;

        &::before {
            content: '';
            @extend %pos;
            right: -1000px;
            background: $dark;
            z-index: -1;
        }
    }

    &--title {
        font-size: 1.2rem;
        justify-content: flex-end;
    }

    @media (max-width: map_get($grid-breakpoints, xl)) {
        font-size: 12px;
        padding-right: 25px;

        &::before {
            display: none;
        }
    }
}