#trainer {
    margin-top: -25px;
    padding: 135px 0 50px;
    background: url('../images/bg/trainer-bg.jpg') 50% 50% /cover no-repeat;

    .section-description-title__simple-text {
        color: #fff;
    }
}

.trainer-card {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    &-img {
        position: relative;
        top: -20px;
        width: 30%;
        padding-top: 235px;
        z-index: 3;
        @extend %img;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            width: 40%;
        }
    }

    &-description {
        width: 70%;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            width: 60%;
        }

        &__name {
            margin-top: 25px;
            padding: 75px 30px;
            text-transform: uppercase;
            background: rgba(#f3f3f3, 1);
            transition: .5s;

            @media (max-width: map_get($grid-breakpoints, sm)) {
                padding: 75px 15px;
            }
        }

        &__data {
            position: relative;
            top: -20px;
            left: -65px;
            padding: 15px;
            padding-left: 95px;
            display: inline-block;
            font-weight: 500;
            color: #fff;
            background: $primary;
        }
    }

    &:hover {

        .trainer-card-description__name {
            background: rgba(#f3f3f3, .3);
            color: #fff;
        }
    }
}