@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaLightPro.woff2') format('woff2'),
        url('EtelkaLightPro.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaMediumPro.woff2') format('woff2'),
        url('EtelkaMediumPro.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

