.burger-menu {
    @extend %pos;
    right: auto;
    bottom: -1px;
    width: 100px;
    background: $primary;
    cursor: pointer;
    transition: .5s;
    z-index: 999;

    @media (max-width: map_get($grid-breakpoints, lg)) {
        bottom: auto;
        height: 105px;
    }

    &.active {
        background: transparent;

        .line {
            opacity: 0;
            visibility: hidden;

            &-close {
                opacity: 1;
                visibility: visible;
            }

            &--left {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &--right {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        &:hover {

            .line {
                border: none;

                &--left {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
    
                &--right {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }

    .line {
        width: 35px;
        height: 8px;
        border: 2px solid #fff;
        margin-bottom: 4px;
        visibility: visible;
        transition: .7s;

        &-close {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            perspective: 1000px;
            width: 35px;
            height: 5px;
            background: #fff;
            opacity: 0;
            transition: .7s;
        }
    }

    &:hover {

        .line {
            border: 2px solid $primary;
            background: #fff;
        }
    }
}


.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    max-height: 1000px;
    background: $primary;
    z-index: 150;
    padding-top: 40px;
    padding-left: 65px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        padding-top: 0;
        padding-left: 0;
    }

    &-list {

        &-item {
            margin-bottom: 35px;

            &:last-of-type {
                margin-bottom: 0;
            }

            &__link {
                text-transform: uppercase;
                font-weight: 500;
                color: #fff;
                opacity: .7;
                transition: .4s;

                &:hover {
                    color: #fff;
                    opacity: 1;
                }
            }
        }
    }
}